<!DOCTYPE html>
<html>
<head>
<title>Oh My Param</title>
<#include "/common/css_js_bootstrap.htm">

<script type="text/javascript">
$(function(){

	/* $('#inputForm').ajaxForm({ 
        type: "post",
        dataType:"json",
        clearForm: false,
        resetForm: false,
        success: function(resp){
        	$("#results").append(resp);
        },
        error:function(resp){
        	$("#results").append("request send fail");
        }
    });  */
	
})
</script>



</head>
<body>
<#include "/common/navbar.htm">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>POST array</h2>
      <div class="col-md-6">
      	<div id="results"></div>
      	<form method="POST" action="/param/post/array" class="well" id="inputForm">
      	   <div class="checkbox">
			  <label>
			    <input type="checkbox" name="color" value="red">
			    red
			  </label>
			</div>
      	   <div class="checkbox">
			  <label>
			    <input type="checkbox" name="color" value="yellow">
			    yellow
			  </label>
			</div>
      	   <div class="checkbox">
			  <label>
			    <input type="checkbox" name="color" value="blue">
			    blue
			  </label>
			</div>
			
			<div>
		    <button type="submit" class="btn btn-default">Submit</button>
		    </div>
		</form>
      </div>
    </div>
 </div>
</div>

<#include "/common/footer.htm">
</body>
</html>